.tg-aparat {
  display: block;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  transform: translateY(20%);
  background-image: url('../icons/aparat.svg');

}
